* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgb(30, 30, 30);
}

h2{
    padding: 20px;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

#box_principal{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}
#box_principal:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#cardapio_caixa{
    width: 45%;
    height: 85%;
    
}

.lista_botoes {
    display: flex;
    justify-content: center;
    list-style: none;
}

.lista_botoes > li{
    margin: 1em;
    background-color: transparent;
}

.lista_botoes > li > button{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    color: rgb(30, 30, 30);
}
.lista_botoes > li > button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.lista_botoes li.ativo {
    font-weight: bold;
    color: #ff6600;
}
.lista_botoes li:hover {
    cursor: pointer;
}

#comanda_caixa{
    width: 45%;
    height: 85%;
}

.borda{
    border: 1px solid rgba(0, 0, 0, 0.5);
}