* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgb(30, 30, 30);
}

h1,h2{
    padding: 20px;
    font-weight: 500;
}

h2{
    color: #ff6600;
}

#box_principal{
    width: 90vw;
    height: 90vh;
    margin: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#cardapio_caixa{
    width: 45%;
    height: 85%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(178, 251, 165);
}

.lista_botoes {
    display: flex;
    justify-content: center;
    list-style: none;
}

.lista_botoes > li{
    margin: 1em;
}

.lista_botoes li.ativo {
    font-weight: 500;
    color: #ff6600;
}

.lista_botoes li:hover {
    cursor: pointer;
}

#conteudo_cardapio{
    display: flex;
    flex-wrap: wrap;
}

.cardapio_item_caixa{
    width: 33%;
}

.botao_cardapio_add{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff6600;
    background-color: white;
    padding: 3%;
    border: none;
    border-radius: 5px;
}

.botao_cardapio_add:hover{
    cursor: pointer;
    background-color: #ff6600;
    color: white;
}

.conteudo_cardapio{
    
}



#comanda_caixa{
    width: 45%;
    height: 85%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(178, 251, 165);
}

.borda{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
