* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(30, 30, 30);
}

h1, h2 {
  padding: 20px;
  font-weight: 500;
}

#box_principal {
  width: 90vw;
  height: 90vh;
  margin: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

#cardapio_caixa,
#comanda_caixa {
  width: 48%;
  height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(178, 251, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.lista_botoes {
  display: flex;
  justify-content: center;
  list-style: none;
}

.lista_botoes > li {
  margin: 1em;
  cursor: pointer;
}

.lista_botoes li.ativo {
  font-weight: 500;
  color: #ff6600;
}

#conteudo_cardapio {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-evenly;
  width: 100%;
  flex: 1;
}

.cardapio_item_caixa {
  width: 28%;
  min-width: 180px;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
}

.cardapio_item_caixa img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.botao_cardapio_add {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff6600;
  background-color: white;
  padding: 3%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 5% 0;
  cursor: pointer;
}

.botao_cardapio_add:hover {
  background-color: #ff6600;
  color: white;
}

#conteudo_comanda {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.lista_itens {
  flex: 1;
  overflow-y: auto;
}

.comanda_item_caixa {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr auto;
  gap: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
}

.comanda_item_caixa:first-child {
  font-weight: 600;
  background-color: #d6f5d6;
}

.comanda_item_caixa:first-child p:last-child {
  width: 4.5em;
  height: 1em;
}

.comanda_item_caixa button {
  grid-column: 6;
  justify-self: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  color: #ff6600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3%;
  border-radius: 5px;
  cursor: pointer;
}

.comanda_item_caixa button:hover {
  color: white;
  background-color: #ff6600;
}

.comanda_rodape_caixa {
  margin-top: auto;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comanda_rodape_caixa > p {
  color: rgb(120, 240, 120);
  font-weight: 600;
  margin: 0;
}

.comanda_rodape_caixa > button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  color: #ff6600;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.comanda_rodape_caixa > button:hover {
  color: white;
  background-color: #ff6600;
}

.borda {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
